<div class="modal-form">
  <div id="modal-body">
    <h2 style="
      font-size: 2vmin; 
      font-family: var(--default-font);
      color: var(--secondary-color);
      text-align: center;
      margin-bottom: 8vmin;
      ">create a new task</h2>
    <input class="form-input" id="input-title" placeholder="  task title (max length: 26)" [(ngModel)]="inputTitle" maxlength="26"/>
    <input class="form-input" id="input-desc" placeholder="  task desc" [(ngModel)]="inputDesc" />
  </div>
  <div id="modal-padding">
    <app-dropdown-state (state)="getState($event)"/>
    <button id="submit-button" (click)="sendForm()">submit</button>
    <!-- submit button -->
  </div>
</div>